pipeline/incrementalload.json
{
	"name": "incrementalload",
	"properties": {
		"activities": [
			{
				"name": "ReadwaterMarkdetails",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM DBO.tbl_watermark\nWHERE IsActive = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_READ_WM_DEATILS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "CopyEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ReadwaterMarkdetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ReadwaterMarkdetails').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyIncrementalData",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@item().SourceQuery",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SOURCE_INC_MULTI",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SINK_MULTI_INC",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item().TargetTableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "getnewwatermarkvalue",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "CopyIncrementalData",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT  ISNULL(MAX(@{item().WaterMarkColumn}),'@{item().WaterMarkValue}') AS NewWaterMarkValue\n\nFROM @{item().TargetTableName}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_NEW_WATERMARK",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "updateWatermarkvalue",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "getnewwatermarkvalue",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_watermarknew]",
								"storedProcedureParameters": {
									"maxdate": {
										"value": {
											"value": "@activity('getnewwatermarkvalue').output.firstRow.NewWaterMarkValue",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"tablename": {
										"value": {
											"value": "@item().TargetTableName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "newsqlls",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-02-13T18:56:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}